.App {
  text-align: center;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
}

.centered{
  margin: auto;
}

.colored{
  background-color: #3f51b5;
  color: white;
}

.content {
  min-height: 100vh;
}

.matrix-container {
  min-height: 480px;
  padding: 48px 0px;
}

.matrix-box {
  border: solid #282c34 1px;
}

.matrix-row {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.matrix-item {
  border: solid #282c34 1px;
  height: 32px;
  width: 32px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.row-items{
  max-width: 720px;
  min-width: 640px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding: auto 8px;
}

.w-120-24{
  width: 128px;
  height: 24px;
}

.w-128{
  width: 128px;
}

.button{
  border: 0;
  width: 128px;
  height: 32px;
  background: #3c3246;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.button:hover{
  color: #000;
  background-color: #ccc;
}

.h-42 {
  height: 42px;
}

.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  height: 42px
}
